.places{
  max-width: 984px;
  padding: 0 48px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places{
    max-width: 928px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .places{
    max-width: 720px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 700px) {
  .places{
    padding: 0;
  }
}
