.cover__overlay{
  display: block;
  position: relative;
  width: 100%;
  min-height: 740px;
  opacity: 0.3;
  background-color: #2a2c2f;
  z-index: 2;
  margin-top:-495px;
  height: calc(width - 300px);
}


.cover__overlay:hover{
  opacity: 0.8;
}
